.CareerStyle {
  margin: 5px;
  max-width: 20rem;
}

.ZoneInfo {
  max-width: 60rem;
  margin: 0px 30px 0px 60px;
  text-align: left;
}

.ZoneButton {
  margin: 5px;
}

.CareerListWidth{
  margin: 20px;
  width: 45%;
}
